@font-face {
  font-family: 'dana';
  src: url(../fonts/DanaFaNum-Medium.woff2) format('woff2'),
    url(../fonts/DanaFaNum-Medium.woff) format('woff'),
    url(../fonts/Pinar.otf) format('otf');

}

.content {
  width: 100%;
  padding: 210px 1rem;
  text-align: center;
  font-size: 18px;
  color: rgb(7, 7, 7);
  font-family: 'dana';
}

.date,
.address {
  display: flex;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  width: 166%;
}

.content time {
  color: #666666;

}

.content address {
  margin: 0.5rem 0;
  color: #666666;
  white-space: pre;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.actions a {
  display: block;
}

.actions a span {
  vertical-align: middle;
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 1.25rem;
  height: 1.25rem;
}


@media (min-width:365px) {

  .item img {
    z-index: 10;
    display: flex;
    top: -44px;
    height: 100% !important;
    border-radius: 0% !important;
    overflow: hidden !important;
    right: 0px !important;
    left: 0px !important;
    position: absolute !important;
    margin-right: auto !important;
    margin-left: auto !important;

    width: 100% !important;
  }

  .eye {
    left: 200px !important;
    opacity: 1 !important;
    width: 21px !important;
    border-radius: 0px !important;
    height: 142px !important;
    z-index: 5555555555;
    top: -52px !important;
    position: absolute !important;
    display: flex !important;
    color: #fffbfb !important;
    transform: scale(1.1);
  }


  .pricetext {
    top: 338px !important;
    z-index: 55555666666666666655;
    background-color: transparent !important;
    font-weight: 400 !important;
    font-size: 14px;
    color: rgb(10, 10, 10) !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    height: 24px !important;
    justify-content: flex-start;
    right: 0px !important;
    position: absolute !important;
    margin-right: auto !important;
    margin-left: auto !important;
    left: 0px;
    direction: rtl;
    border-radius: 5px;
    font-family: 'IRY';
    padding: 0px 0px !important;
    letter-spacing: 0px;
    word-spacing: 0px;
    padding-right: 14px !important;
  }

  .details {
    position: absolute;
    color: #000000 !important;
    background-color: transparent !important;
    text-align: center;
    height: 24px;
    justify-content: flex-end;
    font-weight: 400 !important;
    font-size: 14px !important;
    align-items: center !important;
    z-index: 5555555555 !important;
    opacity: 1;
    border-radius: 0px !important;
    width: 100% !important;
    right: 0px !important;
    min-width: auto !important;
    padding: 0px !important;
    padding-right: 37px !important;
    word-spacing: -2px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    left: 0px !important;
    font-family: 'IRY';
    top: 418px !important;
    transition: all .2s;
    display: flex !important;
    border: 0px solid black;
  }

  .item {
    display: flex !important;
    flex-direction: row;
    margin-bottom: -90px;
    margin-top: 160px;
    top: -34px;
    z-index: 0;
    width: 290px !important;
    margin-right: auto;
    margin-left: auto;
    right: 10px;
    position: relative;
    height: 425px;
    border-radius: 5px;
    transition: all .1s !important;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    overflow: hidden !important;
    transform: scale(1);

  }
}

@media (min-width:576px) {
  .imagebody {
    z-index: 1;
    display: flex !important;
    height: 500px;
    border-radius: 3px !important;
    top: 98px !important;
    right: 6px !important;
    position: absolute !important;
    margin-left: auto !important;
    width: 480px !important;
    border: 1px solid rgb(233, 233, 233);
    justify-self: flex-start !important;
  }

  .item {
    display: flex !important;
    flex-direction: row;
    margin-bottom: 17px;
    transform: scale(.87) !important;
    margin-top: 55px;
    z-index: 0;
    width: 290px !important;
    margin-right: auto;
    margin-left: auto;
    right: 10px;
    position: relative;
    height: 415px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: white;

  }
}

@media (min-width: 768px) {
  .date {
    margin-top: -100px;
    z-index: 666666666;
    width: 1000px;
  }

  .details:hover {
    transition: all .03s !important;
    color: rgb(0, 0, 0) !important;
  }

  .eye {
    left: 200px !important;
    opacity: 1 !important;
    width: 21px !important;
    border-radius: 0px !important;
    height: 142px !important;
    z-index: 5555555555;
    top: -52px !important;
    position: absolute !important;
    display: flex !important;
    color: #fffbfb !important;
    transform: scale(1.1);
  }

  .item img {
    z-index: 10;
    display: flex;
    top: -16px;
    height: 330px !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    right: 10px !important;
    left: -14px !important;
    position: absolute !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0 !important;
    width: 110% !important;
    min-width: 200px;
    transform: scale(.8) !important;
    z-index: 1 !important;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
    filter: contrast(120%);
    background-color: transparent !important;
  }

  .item {
    display: flex !important;
    flex-direction: row;
    margin-bottom: -90px;
    margin-top: 160px;
    top: -160px;
    z-index: 3333444333333333 !important;
    width: 305px !important;
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    position: relative;
    height: 464px;
    border-radius: 0px;
    transition: all .1s !important;
    border-radius: 0px;
    background-color: transparent !important;
    overflow: hidden !important;
    transform: scale(1) !important;
    border: 1.5px solid transparent;
    transition: all .01s !important;
  }

  .item::before {
    display: flex !important;
    flex-direction: row;
    margin-bottom: -90px;
    margin-top: 160px;
    top: -164px;
    z-index: 0;
    width: 290px !important;
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    position: absolute !important;
    height: 455px;
    border-radius: 5px;
    opacity: 0;
    transition: all .1s !important;
    border-radius: 0px;
    background-color: rgb(255, 255, 255) !important;
    overflow: hidden !important;
    transform: scale(1) !important;
    border: 1px solid transparent;
    transition: all .01s !important;
    content: '' !important;
  }

  .item:hover {
    cursor: pointer;
    transition: all .01s !important;
    border: 1.5px solid rgb(204, 204, 204);
  }

  .item:hover .takhfif {
    cursor: pointer;
    transition: all .1s !important;
    border: 1px solid rgb(230, 71, 71);

  }

  .eye {
    opacity: 1 !important;
    width: 21px !important;
    border-radius: 0px !important;
    height: 142px !important;
    z-index: 5555555555;
    top: -59px !important;
    position: absolute !important;
    display: flex !important;
    color: #dfa70f !important;
    transform: scale(.8);
    left: unset !important;
    right: 15px !important;

  }

  .details:hover .eye {
    color: #e7b016 !important;
    transition: all .1s !important;
  }

  .content {
    padding-top: 289px;
    text-align: center;
    font-size: 16px;
    word-spacing: 0;
    z-index: 3333333 !important;
    color: #000000 !important;
    font-family: 'dana';
    font-weight: 400;
  }

  .actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}