.header {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(150, 150, 150);
  height: 60px;

  right: 0px;
  position: relative;
  top: 0px;
}

@media (min-width:56px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    background-color: rgb(228, 234, 255);
    right: 0px;
    left: 0px;
    position: relative;
    top: 1610px;
    z-index: 2222222;

  }


}

@media (min-width:176px) {


  .footer::before {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 280px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(219, 231, 243), rgb(239, 239, 240));
    right: 0px;
    position: absolute;
    top: 0px;
    opacity: .6;
    border-left: 1px solid rgb(233 233 233);
    content: '';
    z-index:0;
  }

  .footer::after {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 280px;
    left: 0px;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(219, 231, 243), rgb(239, 239, 240));
    position: absolute;
    top: 0px;
    opacity: .6;
    content: '';
    z-index:0;
  }


 .footerblack ,.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    right: 0px;
    left: 0px;
    position: relative;
    top: 1300px;
    background-color: rgb(255, 255, 255);
    z-index: 244222222;
  }


  .footerblack::before {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 280px;
    border-left: 1px solid rgb(0, 0, 0);
    right: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    opacity: 1;
    content: '';
    z-index: 0;
    background-color: #202325 !important;
  }

}



@media (min-width: 356px) {
    .footerblack ,.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    right: 0px;
    left: 0px;
    position: relative;
    top: 1350px!important;
    background-color: rgb(255, 255, 255);
    z-index: 2233333322222!important;
  }




}





@media (min-width: 768px) {
 .footerblack ,  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    right: 0px;
    left: 0px;
    position: relative;
        top: 900px !important;
    background-color: rgb(255, 255, 255);
    z-index: 2222222;
  }





}

@media (min-width: 992px) {
   .footerblack , .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    right: 0px;
    left: 0px;
    position: relative;
    top: 700px!important;
    background-color: rgb(255, 255, 255);
    z-index: 2222222;
  }




}